.formularioCompra {
  background-color: grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  input {
    width: 280px;
  }
  .containerBoton {
    padding: 40px;
  }
  .labels {
    font-weight: bold;
  }
}
