.contieneCardDetail {
  background-image: linear-gradient(
    to top,
    rgba(247, 235, 6, 0.87),
    #ad9553,
    black
  );
  .colorDetalle {
    background-color: azure;
  }
  .imagenProducto {
    display: flex;
    align-items: center;
    padding-left: 60px;
  }
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 100px;
  .card-title {
    text-align: center;
    font-size: 40px;
  }
  .imagenesPreciosLista {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    align-items: center;
  }
  .posicion3 {
    padding: 40px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    justify-content: center;
  }
  .precios {
    padding-top: 40px;
    .containerLista {
      padding-top: 30px;
      .irAlCarrito {
        background-color: yellow;
        color: black;
        padding: 10px;
        border-radius: 10px;
      }
      .cantidadContainer {
        display: flex;
        justify-content: center;
      }
    }
    .containerEfectivo {
      padding-bottom: 30px;
      .imgCuotas {
        height: 100px;
      }
      .imgCuotas2 {
        height: 212px;
      }
    }
    .efectivo {
      font-size: 35px;
      text-align: center;
      color: gray;
    }
  }
}

@media (max-width: 890px) {
}
