.todaLaTabla {
  text-align: center;
}

.posicion {
  padding: 40px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
.posicion2 {
  display: flex;
  justify-content: flex-end;
  padding-right: 50px;
  width: 100%;
  gap: 30px;
  align-items: center;
  h2 {
    background-color: yellow;
  }
  h3 {
    background-color: yellow;
  }
}
.posicionBoton {
  display: flex;
  justify-content: center;
}
.imgCarrito {
  height: 90px;
}
.finOperacion {
  background-color: black;
  color: yellow;
  width: 200px;
  height: 45px;
  border-radius: 15px;
}
.total {
  background-color: black;
  display: flex;
}
.btnEliminar {
  background-color: black;
  border-radius: 10px;
}
.carritoVacio {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  img {
    width: 350px;
  }
}
