.controlPadding {
  padding-left: 35px;
}
.colorNavBar {
  background-color: rgb(199, 199, 13);
  padding: 35px;
  .posicionEnlaces {
    align-items: center;
  }
  .logoVerzall {
    border-radius: 300px;
  }

  .colorEnlaces {
    font-size: 20px;
    align-items: center;
    text-decoration: none;
    color: black;
    list-style: none;
    padding-left: 30px;
  }
  .colorBtn {
    background-color: black;
    color: yellow;
    width: 110px;
    border-radius: 10px;
  }
}
